<div class="container">
	<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

		<h3>Inicio de sesión - Reactive Form</h3>
		<hr class="mb-5">
		<div>
			<label class="font-weight-bold .text-primary">Nombre</label>
			<input type="text" formControlName="name" class="form-control"
				[ngClass]="{ 'is-invalid':  form.name.errors }"/>
			<div *ngIf="form.name.errors" class="invalid-feedback">
				<div *ngIf="form.name.errors.required">El nombre es obligatorio</div>
			</div>
		</div>
		<div class="mt-3">
			<label class="font-weight-bold .text-primary">Email</label>
			<input type="text" formControlName="email" class="form-control"
				[ngClass]="{ 'is-invalid': form.email.errors }" />
			<div *ngIf="form.email.errors" class="invalid-feedback">
				<div *ngIf="form.email.errors.email">El email debe de ser válido</div>
			</div>
		</div>
		<div class="mt-3">
			<label class="font-weight-bold .text-primary">Contraseña</label>
			<input type="password" formControlName="password" class="form-control"
				[ngClass]="{ 'is-invalid': form.password.errors }" />
			<div *ngIf="form.password.errors" class="invalid-feedback">
				<div *ngIf="form.password.errors.required">Contraseña requerida</div>
				<div *ngIf="form.password.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
			</div>
		</div>
		<div class="mt-3">
			<label class="font-weight-bold .text-primary">Repetir contraseña</label>
			<input type="password" formControlName="repeatPass" class="form-control"
				[ngClass]="{ 'is-invalid': form.repeatPass.errors }" />
			<div *ngIf="form.repeatPass.errors" class="invalid-feedback">
				<div *ngIf="form.repeatPass.errors.required">Repetir contraseña</div>
				<div *ngIf="form.repeatPass.errors.mustMatch">Las contraseñas debden de coincidir</div>
			</div>
		</div>

		<div class="text-center pt-5">
			<button class="btn btn-primary mr-1" [disabled]="registerForm.invalid">Registrarse</button>
			<button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
		</div>
	</form>
</div>